@{
    ViewBag.Title = "Auction";
}

<ul class="nav nav-tabs">
    <li role="presentation"><a href="/Suppliers/Index">Home</a></li>
    <li role="presentation"><a href="/Suppliers/Contracts">Contracts</a></li>
    <li role="presentation" class="active"><a href="/Suppliers/Auction">Auction</a></li>
</ul>

<div class="container"> 
     <h2> Supplier Auction</h2> 
  <table class="table table-striped">
        <tr> 
            <th class="text-right"> Customer Name: </th>  
            <td> Supplier Name</td>
            <th class="text-right"> Monthly kWh Avg: </th>
            <td> 2,0000</td> </tr>
        <tr>
            <th class="text-right"> Credit Score: </th>
            <td> 800 </td>  
            <th class="text-right"> Utility: </th> 
            <td>Duke Energy</td></tr>
         <tr>
            <th class="text-right"> Account Number: </th>
            <td> 812356780 </td>  
            <th class="text-right"> Account Type: </th> 
            <td>commercial</td></tr>
        </table>
      <br><br>
      </div>