@{
    ViewBag.Title = "Index";
}
<style>
    table {
    width: 30%;
}
td {
    height: 30px;
    width: 60%;
    text-align: left;
    text-indent: 10px;    
    }
    </style>

<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="/Suppliers/Index">Home</a></li>
    <li role="presentation"><a href="/Suppliers/Contracts">Contracts</a></li>
    <li role="presentation"><a href="/Suppliers/Auction">Auction</a></li>
</ul>
    <div class="container">
          <h2>Supplier Profile</h2>
  <table>
        <tr> 
            <th class="text-right" >Name: </th>
            <td>Supplier Name</td></tr>
        <tr>
            <th class="text-right"> Company:</th>
            <td>Company Name </td></tr>   
        <tr> 
            <th class="text-right">Account Number:</th>  
                <td>Acct#</td>
            </tr>
        </table>
    </div>