@model IEnumerable<BestBidEnergy.Models.Supplier> 
@{
    ViewBag.Title = "Profile";
}
<style>
    table {
    width: 30%;
}
td {
    height: 30px;
    width: 60%;
    text-align: left;
    text-indent: 10px;    
    }
    </style>

<ul class="nav nav-tabs">
    <li role="presentation"><a href="/Suppliers/Index">Home</a></li>
    <li role="presentation"><a href="/Suppliers/Contracts">Contracts</a></li>
    <li role="presentation" class="active"><a href="/Suppliers/Profile">Profile</a></li>
    <li role="presentation"><a href="/Suppliers/Auction">Auction</a></li>
</ul>
    <div class="container">
          <h2>Supplier Profile</h2>
@foreach (var todo in Model){   
  <table>
        <tr> 
            <th class="text-right" >Name: </th>
            <td> @todo.UserID </td></tr>
        <tr>
            <th class="text-right"> Company:</th>
            <td> @todo.Company </td></tr>   
        <tr> 
            <th class="text-right">Account Number:</th>  
                <td>@todo.AccountNum</td>
            </tr>
        </table>
        }
    </div>