@{
    ViewBag.Title = "Index";
}
<style>
        td {
     text-indent: 5px;
 }</style>

<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="/Buyers/Index">Home</a></li>
    <li role="presentation"><a href="/Buyers/Contracts">Contracts</a></li>
    <li role="presentation"><a href="/Buyers/Profile">Profile</a></li>
</ul>
 <div class="container">
