@{
    ViewBag.Title = "Buyer Profile";
}
<style>
    table {
    width: 30%;
}
td {
    height: 30px;
    width: 60%;
    text-align: left;
    text-indent: 10px;    
    }
    </style>
<ul class="nav nav-tabs">
    <li role="presentation"><a href="/Buyers/Index">Home</a></li>
    <li role="presentation"><a href="/Buyers/Contracts">Contracts</a></li>
    <li role="presentation" class="active"><a href="/Buyers/Profile">Profile</a></li>
</ul>

<h2> Buyer Profile </h2>
<div class="container">
    <table >
        <tr> 
            <th class="text-right"> Name: </th>
            <td> Your Name</td></tr>
        <tr>
            <th class="text-right"> Company:</th>
            <td> Company Name </td></tr>   
        <tr> 
            <th class="text-right"> Account Number:</th> 
            <td> Acct#</td></tr>
        <tr>
            <th class="text-right">Credit Score:</th>
            <td>850          </td> </tr>
        <tr>
            <th class="text-right">Account Type:</th> 
            <td> Commercial </td>
            </tr>
        </table>
    </div>